h1 {
  color: rgb(203, 116, 181);
}
h3 {
  text-align: center;
  color: rgb(203, 116, 181);
}

.skill-container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  margin-bottom: 8px;
}

.contact-container {
  border: rgb(203, 116, 181);
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  margin-bottom: 8px;
}
